.vertical-center {
    min-height: 100%;
    /* for browsers that DON'T support vh unit */
    min-height: 100vh;

    display: -webkit-flex;
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 1%;
}

.my-well {
    background: whitesmoke;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

input {
    border: none;
    padding: 5px;
    border-radius: 5px;
}

body {
    background: lightblue;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, lightblue, white);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, lightblue, white);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, lightblue, white);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, lightblue, white);
    /* Standard syntax */
}

input {
    text-align: center;
}

#bars {
    display: flex;
    justify-content: center;
    align-items: center;
    /*     background: black; */
}

.bar {
    background: #52467b;
    bottom: 1px;
    height: 3px;
    width: 10px;
    margin: 0px 4px;
    border-radius: 5px;
    animation: sound 0ms -600ms linear infinite alternate;
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 3px;
    }

    100% {
        opacity: 1;
        height: 70px;
    }
}

.bar:nth-child(1) {
    left: 1px;
    animation-duration: 474ms;
}

.bar:nth-child(2) {
    left: 15px;
    animation-duration: 433ms;
}

.bar:nth-child(3) {
    left: 29px;
    animation-duration: 407ms;
}

.bar:nth-child(4) {
    left: 43px;
    animation-duration: 458ms;
}

.bar:nth-child(5) {
    left: 57px;
    animation-duration: 400ms;
}

.bar:nth-child(6) {
    left: 71px;
    animation-duration: 427ms;
}

.bar:nth-child(7) {
    left: 85px;
    animation-duration: 441ms;
}

.bar:nth-child(8) {
    left: 99px;
    animation-duration: 419ms;
}

.bar:nth-child(9) {
    left: 113px;
    animation-duration: 487ms;
}

.bar:nth-child(10) {
    left: 127px;
    animation-duration: 442ms;
}